<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  {{!-- toggle menu --}}
  <script src="https://bulma.io/vendor/native.js"></script>
  <script src="https://static-assets.mapbox.com/gl-pricing/dist/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-steps@2.2.1/dist/css/bulma-steps.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bulma-steps@2.2.1/dist/js/bulma-steps.js"></script>

</head>

<body>

  {{#if logged}}
  {{!-- desktop main nav menu --}}
  <div class="my-secon-nav-main is-hidden-mobile my-fixed-top-nav">
    <nav class="level">
      <div class="level-left">
        <a class="navbar-item button is-primary logo-barelo-nav" href="/">
          <img src="/images/barelo-full.png">
        </a>
        <div class="level-item">
          <a type="button" class="has-text-weight-bold button is-primary is-inverted is-outlined" href="/user/new">
            <span class="btn-text-nav">Add a new Book </span>
            <span class="icon is-small">
              <i class="far fa-plus-square"></i>
            </span>
          </a>
        </div> {{!-- add books button --}}
        <div class="level-item">
          <a type="button" class="has-text-weight-bold button is-primary is-inverted is-outlined" href="/user/index">
            <span class="btn-text-nav">View books near Me</span>
            <span class="icon is-small">
              <i class="far far fa-compass"></i>
            </span>
          </a>
        </div> {{!-- see books location --}}

      </div>
      <div class="level-right">
        <div class="level-item">
          <button class="btn-token ">
            <p>{{value}}</p>
          </button>
        </div>
        <div class="level-item">
          <a type="button" href="/user/profile" class="has-text-weight-bold button is-primary is-inverted is-outlined">
            <i class="far fa-user white "></i>
          </a>
        </div>
        <div class="level-item second-button-main-nav">
          <a type="button" href="/auth/logout"
            class="has-text-weight-bold button is-primary is-inverted is-outlined">Log Out</a>
        </div>
      </div>
    </nav>
  </div>
  {{!-- mobile nav top --}}
  <div class="header-main-home is-hidden-desktop is-hidden-tablet  my-fixed-top-nav">
    <a class="logo-barelo-nav" href="/">
      <img src="/images/barelo-icon.png">
    </a>
    <div>
      <button class="btn-token ">
        <p>{{value}}</p>
      </button>
      <a type="button" href="/auth/logout" class="has-text-weight-bold button is-primary is-inverted is-outlined">Log
        Out</a>
    </div>
  </div>
  {{!-- mobile nav bottom --}}
  <div class="my-fixing is-hidden-tablet is-hidden-desktop is-hidden-widescreen">
    <nav class="my-fixing-spacing level is-mobile ">
      <div class="level-item ">
        <div>
          <a type="button" href="/user/index"><i class="far fa-compass fa-2x whiting"></i></a>
        </div>
      </div>
      <div class="level-item">
        <div>
          <a type="button" href="/user/new"><i class="far fa-plus-square fa-2x whiting"></i></a>
        </div>
      </div>
      <div class="level-item">
        <div>
          <a type="button" href="/user/profile"> <i class="far fa-user fa-2x whiting"></i></a>
        </div>
      </div>
    </nav>
  </div>

  {{else}}
  {{!-- desktop main nav menu --}}
  <div class="my-secon-nav-main is-hidden-mobile my-fixed-top-nav">
    <nav class="level">
      <div class="level-left">
        <a class="navbar-item button is-primary logo-barelo-nav" href="/">
          <img src="/images/barelo-full.png">
        </a>
      </div>
      <div class="level-right">
        <div class="level-item">
          <a type="button" href="/auth/signup" class="button is-danger"><strong>Sign up</strong></a>
        </div>
        <div class="level-item second-button-main-nav">
          <a type="button" href="/auth/login" class="button is-light">Log in </a>
        </div>
      </div>
    </nav>
  </div>
  {{!-- mobile nav top --}}
  <div class="header-main-home is-hidden-desktop is-hidden-tablet">
    <a class="logo-barelo-nav" href="/">
      <img src="/images/barelo-icon.png">
    </a>
    <div>
      <a type="button" href="/auth/signup" class=" button is-danger"><strong>Sign up</strong></a>
      <a type="button" href="/auth/login" class="button is-light">Log in </a>
    </div>
  </div>

  {{/if}}


  {{{body}}}


  <script src="/javascripts/script.js"></script>
</body>

</html>