<section class="section" id="book-details">
  <div class="container">
    <h2 class="is-uppercase">Book Details</h2>
    <hr>

    <div class="columns">
      <div class="column is-one-fifth ">
        <div class="round-corners-mine">
          <img class="round-border-books" src={{buk.pic}}>
          {{#if showEdit}}
          <div class="btn-modifiers-book">
            <a type="button" class="button is-info is-fullwidth is-block" href="/user/{{buk._id}}/patch">Edit Book</a>
            <a type="button" class="button is-danger is-fullwidth is-block" href="/user/{{buk._id}}/delete">Delete
              Book</a>
          </div>
          {{/if}}
        </div>
      </div>
      <div class="column">
        <h3 class="">{{buk.title}}</h3>
        {{#each buk.author as |auth|}}
        <p><strong>by:</strong>{{auth}}</p>
        {{/each}}
        <p>{{buk.description}}</p>
        <p>Pages no.{{buk.pages}}</p>
        <p>Published in: {{buk.publishDate}}</p>
        <p>Publisher: {{buk.publisher}}</p>
      </div>
      <div class="column is-one-fifth ">
        <div class="giver-box">
          <h4>This book was published by:</h4>
          <img class="" src={{buk.swapper.photoURL}}>
          <a href="/user/{{buk.swapper._id}}/profile">{{buk.swapper.username}}</a>
        </div>
      </div>
    </div>



    {{#if showA}}
    <div id='map'></div>
    <img src={{buk.placePic}}>
    {{else}}
    {{#if showB}}
    <div class="columns">
      <div class="is-one-quarter ">
        <form action='/user/{{buk._id}}/pick' method='POST'>
          <button class="button is-primary has-text-weight-bold is-fullwidth">Pick this book</button>
        </form>
      </div>
    </div>
    {{/if}}
    {{/if}}



  </div>
</section>
{{#if showC}}
<div class="notification">
  <p>You don't have enough tokens :(</p><br>
  <button><a href="/user/new">Add a new book to win tokens!!</a></button>
  <button class="delete"></button>
</div>
{{/if}}

<script>
  document.addEventListener('DOMContentLoaded', () => {
    (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
      $notification = $delete.parentNode;
      $delete.addEventListener('click', () => {
        $notification.parentNode.removeChild($notification);
      });
    });
  });
</script>

<script>
  let name = "{{buk.title}}"
  let lng = Number("{{ buk.place.coordinates.[0]}}")
  let lat = Number("{{ buk.place.coordinates.[1]}}");
</script>
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoidWFxcm8iLCJhIjoiY2szZXl6YjNxMDBweTNjbnRsdHliODF4diJ9.oW-8EsAoPQ-VbQEfeM2xsA';

  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/light-v10',
    center: [lng, lat],
    zoom: 18
  });
  map.on('load', function () {
    const marker = new mapboxgl.Marker({ color: '#01d1b2' })
    marker.setLngLat([lng, lat]).setPopup(new mapboxgl.Popup().setHTML(`<span>{{buk.title}}</span>`)).addTo(map)

    map.addLayer({
      "id": "points",
      "type": "symbol",
      "source": {
        "type": "geojson",
        "data": {
          "type": "FeatureCollection",
          "features": [{
            "type": "Feature",
            "geometry": {
              "type": "Point",
              "coordinates": [lng, lat]
            },
            "properties": {
              "title": name,
              "icon": "buk"
            }
          }]
        }
      },
      "layout": {
        // get the icon name from the source's "icon" property
        // concatenate the name to get an icon from the style's sprite sheet
        "icon-image": ["concat", ["get", "icon"], "-15"],
        // get the title name from the source's "title" property
        "text-field": ["get", "title"],
        "text-font": ["Open Sans Semibold", "Arial Unicode MS Bold"],
        "text-offset": [0, 0.6],
        "text-anchor": "top"
      }
    });

  });

</script>