<section class="section main-profile">
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter  centerizeme">
        <img src="{{swapper.photoURL}}" alt="profile-pic">
        <h2>{{swapper.username}}` Profile</h2>
        <hr>
        <div class="token-coin">
          <p>{{swapper.tokens}}</p>
        </div>
        <h4 class="is-uppercase">tokens</h4>
      </div>

      {{!-- begenning of second column cointaining books --}}
      <div class="column">
        <div class="column is-block">
          <h4 class="is-uppercase">Books Shared</h4>
          <div class="not-yet-carousel">
            {{#each swapper.publishedBooks as |buuk|}}
            <div class="one-book-profile ">
              <img class="round-border-books" src="{{buuk.pic}}" alt="picture of book">
              <p>{{buuk.title}}</p>
              <a href="/user/{{buuk._id}}/book-details" type="button"><i class="far fa-eye"></i>
            </div>
            {{/each}}
          </div>
        </div>

        <div class="column is-block">
          <h4 class="is-uppercase">Books Picked</h4>รง
          <div class="not-yet-carousel">
            {{#each swapper.pickedBooks as |buuk|}}
            <div class="one-book-profile ">
              <img class="round-border-books" src="{{buuk.pic}}" alt="picture of book">
              <p>{{buuk.title}}</p>
              <a href="/user/{{buuk._id}}/book-details" type="button">
                <i class="far fa-eye"></i>
              </a>
            </div>
            {{/each}}
          </div>
        </div>


      </div>{{!-- end of second column cointaining books --}}

    </div>{{!-- end of columns --}}
  </div> {{!-- end of container --}}
</section> {{!-- end of section --}}



{{#each commentsArray as |comment|}}
{{#if comment.show}}
<a href="/user/{{comment.content._id}}/delete-comment" type="button">
  <h1>Delete</h1>
</a>
<a href="/user/{{comment.content._id}}/edit-comment" type="button">Edit</a>
{{/if}}
<p>{{comment.content.body}}</p>
<a href="/user/{{comment.poster._id}}/profile">{{comment.poster.username}}</a>
<img src="{{comment.poster.photoURL}}">
{{/each}}
<h2>Post a Comment</h2>
<form action='/user/{{swapper._id}}/new-comment' method='POST'>
  <input type='text' name="comment">
  <button>Submit</button>
</form>