<img src="{{this.photoURL}}">
<h2>{{this.username}}</h2>

<div>
  <h4>Books Left</h4>
  {{#each this.publishedBooks as |buk|}}
  <p>{{buk.title}}</p>
  {{/each}}

</div>
<div>
  <h4>Books Picked</h4>
  {{#each this.pickedBooks as |buuk|}}
  <p>{{buuk.title}}</p>
  {{/each}}
</div>
<div>
  <p><strong>Tokens Available</strong></p>
  <p>{{this.tokens}}</p>
</div>
<div>
  <h3>Badges</h3>
  <ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
  </ul>
  {{#each this.commentsRec as |comment|}}
  <p>comment</p>
  {{#if comment.show}}
  <a href="/user/{{comment._id}}/delete-comment" type="button">Delete</a>
  <a href="/user/{{comment._id}}/edit-comment" type="button">Edit</a>
  {{/if}}
  <p>{{comment.body}}</p>
  <a href="/user/{{comment.swapperPosting._id}}/profile">{{comment.swapperPosting.username}}</a>
  {{/each}}
  <form action='/user/{{this._id}}/new-comment' method='POST'>
    <input type='text' name="comment">
    <buttom>Submit</buttom>
  </form>
</div>