<img src="{{swapper.photoURL}}">
<h2>{{swapper.username}}</h2>

<div>
  <h4>Books Left</h4>
  {{#each swapper.publishedBooks as |buk|}}
  <p>{{buk.title}}</p>
  {{/each}}

</div>
<div>
  <h4>Books Picked</h4>
  {{#each swapper.pickedBooks as |buuk|}}
  <p>{{buuk.title}}</p>
  {{/each}}
</div>
<div>
  <p><strong>Tokens Available</strong></p>
  <p>{{swapper.tokens}}</p>
</div>
<div>
  <h3>Badges</h3>
  <ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
  </ul>
  {{#each commentsArray as |comment|}}
  {{#if comment.show}}
  <a href="/user/{{comment.content._id}}/delete-comment" type="button">
    <h1>Delete</h1>
  </a>
  <a href="/user/{{comment.content._id}}/edit-comment" type="button">Edit</a>
  {{/if}}
  <p>{{comment.content.body}}</p>
  <a href="/user/{{comment.content.swapperPosting._id}}/profile">{{comment.content.swapperPosting.username}}</a>
  <img src="{{comment.content.swapperPosting.photoURL}}">
  {{/each}}
  <h2>Post a Comment</h2>
  <form action='/user/{{swapper._id}}/new-comment' method='POST'>
    <input type='text' name="comment">
    <button>Submit</button>
  </form>
</div>