<section class="section main-profile">
  <div class="container">
    <div class="columns">
      {{!-- column profile box --}}
      <div class="column is-one-quarter  centerizeme">
        <img src="{{swapper.photoURL}}" alt="profile-pic">
        <h2>Hello {{swapper.username}}</h2>
        <hr>
        <div class="token-coin">
          <p>{{swapper.tokens}}</p>
        </div>
        <h4 class="is-uppercase">tokens</h4>
        <div class="bottom-buttons-prof">
          <a href="/user/patch-user" class="button is-light" type="button">Update my profile</a>
          <a href="/user/delete-user" class="button is-danger" type="button">Delete my profile</a>
        </div>
      </div>
      {{!-- column profile box --}}
      <div class="column">
        <div class="column is-block">
          <h4 class="is-uppercase">Books Shared</h4>
          <div class="not-yet-carousel">
            {{#each swapper.publishedBooks as |buk|}}
            <div>
              <div class="one-book-profile ">
                <img class="round-border-books" src="{{buk.pic}}" alt="picture of book">
                <p>{{buk.title}}</p>
                <div class="crud-btns">
                  <a href="/user/{{buk._id}}/book-details" type="button"><i class="far fa-eye"></i>
                  </a>
                  {{#if buk.picked}}
                  {{else}}
                  <a type="button" href="/user/{{buk._id}}/patch"><i class="far fa-edit" style="color:#266BDA;"></i></a>
                  <a type="button" href="/user/{{buk._id}}/delete"><i class="far fa-trash-alt"
                      style="color:#F14768;"></i></a>
                </div>
                {{/if}}
              </div>
            </div>
            {{/each}}
          </div>
        </div>
        <div class="column is-block">
          <h4 class="is-uppercase">Books Picked</h4>
          <div class="not-yet-carousel">
            {{#each swapper.pickedBooks as |buk|}}
            <div class="one-book-profile ">
              <img class="round-border-books" src="{{buk.pic}}" alt="picture of book">
              <p>{{buk.title}}</p>
              <a href="/user/{{buk._id}}/book-details" type="button">
                <i class="far fa-eye"></i>
              </a>
            </div> {{!--  one-book-profile --}}
            {{/each}}
          </div>
        </div>{{!-- end of colum rigth  --}}
      </div>
    </div>{{!-- end ofcolumsss  --}}
    <div class="columns"> {{!--badges columns --}}
      {{#each commentsArray as |comment|}}
      <p>{{comment.content.body}}</p>
      <a href="/user/{{comment.poster._id}}/profile">{{comment.poster.username}}</a>
      <img src="{{comment.poster.photoURL}}">
      {{/each}}
<<<<<<< HEAD

=======
>>>>>>> e9cce65dd84b522f57d8383c8c8420075d4c8468
    </div> {{!--badges columns --}}
  </div>{{!-- end of container  --}}
  </div>{{!-- end of main container --}}
</section>