<img src="{{this.photoURL}}">
<h2>{{this.username}}</h2>

<div>
  <h4>Books Left</h4>
  {{#each this.publishedBooks as |buk|}}
  <p>{{buk.title}}</p>
  {{/each}}

</div>
<div>
  <h4>Books Picked</h4>
  {{#each this.pickedBooks as |buuk|}}
  <p>{{buuk.title}}</p>
  {{/each}}
</div>
<div>
  <p><strong>Tokens Available</strong></p>
  <p>{{this.tokens}}</p>
</div>
{{#each this.commentsRec as |comment|}}
<p>comment</p>
{{/each}}
<div>
  <h3>Badges</h3>
  <ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
  </ul>
</div>
<a href="/user/patch-user" type="button">Update my profile</a>
<a href="/user/delete-user" type="button">Delete my profile</a>