<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet'
  href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css' type='text/css' />
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>


<section class="section">
  <div class="container">
    <h2 class="is-uppercase">Update Profile</h2>
    <hr>
    <form method="POST" action="/user/patched" enctype="multipart/form-data">
      <div class="field">
        <input class="input" type="text" name="username" placeholder="Disabled input" value="{{this.username}}"
          disabled>
      </div>
      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input class="input" type="email" name="email" value="{{this.email}}">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </p>
      </div>
      <img src=" {{this.photoURL}}" alt="">
      <div id="file-js-example" class="file has-name  is-primary is-fullwidth">
        <label class="file-label">
          <input class="file-input" type="file" name="photo" id="photo" accept="image/*" value="{{this.photoURL}}">
          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
              Choose a file…
            </span>
          </span>
          <span class="file-name">
            Change your profile pic
          </span>
        </label>
      </div>
      <br>

      {{!-- <input type="file" name="photo" id="photo" accept="image/*" value="{{this.photoURL}}"> --}}
      <br>
      <input type="text" id="address" name="address" value="{{this.place.address}}" hidden>
      <input type="text" id="lng" name="lng" value="{{this.place.coordinates.[0]}}" hidden>
      <input type="text" id="lat" name="lat" value="{{this.place.coordinates.[1]}}" hidden>
      <div id='map'></div>
      <br>
      <button class="button is-danger is-fullwidth">Change your information {{this.username}}</button>
    </form>

  </div>
</section>



<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoidWFxcm8iLCJhIjoiY2szZXl6YjNxMDBweTNjbnRsdHliODF4diJ9.oW-8EsAoPQ-VbQEfeM2xsA';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [-79.4512, 43.6568],
    zoom: 13
  });
  var geoCoder = new MapboxGeocoder({
    accessToken: mapboxgl.accessToken,
    marker: {
      color: 'orange'
    },
    mapboxgl: mapboxgl
  });
  map.addControl(geoCoder);

  geoCoder.on('results', (results) => {
    document.querySelector('#address').value = results.features[0].place_name
    document.querySelector('#lat').value = results.features[0].center[1];
    document.querySelector('#lng').value = results.features[0].center[0];
  });

</script>