<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet'
  href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css' type='text/css' />
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>

<section class="section">
  <div class="container">
    <h2 class="is-uppercase">Update your book location</h2>
    <h4>Remember to update you picture as well for other people to find it too!</h4>
    <hr>
    <form method="POST" action="/user/{{buk._id}}/{{backURL}}/patched" enctype="multipart/form-data">
      <br>
      <div id="file-js-example" class="file has-name  is-primary is-fullwidth">
        <label class="file-label">
          <input class="file-input" type="file" name="photo" id="photo" accept="image/*" value="{{this.placePic}}">
          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
              Choose a file…
            </span>
          </span>
          <span class="file-name">
            Add another picture of your book in the new location!
          </span>
        </label>
      </div>
      <br>
      <input type="text" id="address" name="address" value="{{buk.place.address}}" hidden>
      <input type="number" id="lng" step="any" name="lng" value="{{buk.place.coordinates.[0]}}" hidden>
      <input type="number" id="lat" name="lat" step="any" value="{{buk.place.coordinates.[1]}}" hidden>
      <div id='map'></div>
      <br>
      <button class="button is-danger is-fullwidth">Change location for this book</button>
    </form>
  </div>
</section>





<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoidWFxcm8iLCJhIjoiY2szZXl6YjNxMDBweTNjbnRsdHliODF4diJ9.oW-8EsAoPQ-VbQEfeM2xsA';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [-79.4512, 43.6568],
    zoom: 13
  });
  var geoCoder = new MapboxGeocoder({
    accessToken: mapboxgl.accessToken,
    marker: {
      color: 'orange'
    },
    mapboxgl: mapboxgl
  });
  map.addControl(geoCoder);

  geoCoder.on('results', (results) => {
    const lng = Number(results.features[0].center[0])
    const lat = Number(results.features[0].center[1])
    document.querySelector('#address').value = results.features[0].place_name
    document.querySelector('#lat').value = lat;
    document.querySelector('#lng').value = lng;
  });

</script>

{{!-- upload file bulma script --}}
<script>
  const fileInput = document.querySelector('#file-js-example input[type=file]');
  fileInput.onchange = () => {
    if (fileInput.files.length > 0) {
      const fileName = document.querySelector('#file-js-example .file-name');
      fileName.textContent = fileInput.files[0].name;
    }
  }
</script>